PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2025-06-19 06:25:45.209927');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2025-06-19 06:25:45.224750');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2025-06-19 06:25:45.238294');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(17,'6','╨Р╨╗╨╡╤Б╤П',2,'[{"changed": {"fields": ["password"]}}]',4,7,'2025-06-22 20:00:57.461745');
INSERT INTO django_admin_log VALUES(18,'6','╨Р╨╗╨╡╤Б╤П',2,'[{"changed": {"fields": ["password"]}}]',4,7,'2025-06-22 20:00:59.047789');
INSERT INTO django_admin_log VALUES(19,'3','Mik Profile',1,'[{"added": {}}]',12,7,'2025-06-23 15:23:00.128469');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$870000$i37d8ss2vEtBZOkCtcMEMs$P0DK2DKaMY4smbKy6y4fo07a3qsIJbpxyTM5KYeqM+A=',NULL,0,'alesssftf','','',0,1,'2025-06-19 07:08:36.242824','');
INSERT INTO auth_user VALUES(5,'pbkdf2_sha256$1000000$zBK2iA6oYWTEKlBLcTWUG1$pMCSmg6OKthfyRZujP9t18RzLuMCTxHJXUJy3dRFbYY=',NULL,1,'qwe','','qwe@gmail.com',1,1,'2025-06-22 15:51:17.583805','');
INSERT INTO auth_user VALUES(6,'pbkdf2_sha256$1000000$x03vNXCuK38boVj1xtDcnb$OPqHOAKnPrmAyoWAJ98RxzV7S+SclaPl8atSxHRURPQ=','2025-06-22 19:07:17',0,'╨Р╨╗╨╡╤Б╤П','╨С.','alesssftf@gmail.com',1,0,'2025-06-22 19:07:21','╨Р╨╗╨╡╤Б╤П');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('5yje7rbg4fwu3479a53a9lmfnvdw2zy8','.eJxVjDsOwjAQBe_iGln-xoSSnjNYu95dHECJFCcV4u4kUgpo38y8t8qwLjWvjec8kLqopE6_G0J58rgDesB4n3SZxmUeUO-KPmjTt4n4dT3cv4MKrW41igPhZAx7MSEKsiCR9cWg9RzFOozSOyZ_dl1XTIAegdFuHjOFpD5fILY5oA:1uTQs5:5EhF0vDBNEY_6ASrGNpsTES6Lat2xxitrU97podSIuE','2025-07-06 20:00:57.486621');
INSERT INTO django_session VALUES('wm0o21o4mqh3rojn0dqu100qxnyni7d8','.eJxVjEsOwjAMBe-SNYrysWnLkn3PEDm2SwoolfpZIe4OlbqA7ZuZ9zKJtrWkbdE5jWIupjGn3y0TP7TuQO5Ub5Plqa7zmO2u2IMutp9En9fD_TsotJRvzYEdnBHFMYGnjhoNihK9tNgqAKFmxgxIEKLPIDEz69Dg0DlFB-b9AfIoOFE:1uUIvD:L_FhVKl7INR67uLPdG0UC8swefO34bBJpjiNv7qzW_s','2025-07-09 05:43:47.003966');
CREATE TABLE IF NOT EXISTS "new_post" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(100) NOT NULL, "content" text NOT NULL, "date_posted" datetime NOT NULL, "author_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "users_profile" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "image" varchar(100) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO users_profile VALUES(3,'profile_pics/╨╝╨╡╨╝_╤Б_╨║╨╛╤В╨╕╨║╨╛╨╝_1.jpeg',7);
CREATE TABLE IF NOT EXISTS "new_project" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "description" text NOT NULL, "start_date" date NULL, "end_date" date NULL, "priority" varchar(10) NOT NULL, "created_at" datetime NOT NULL, "owner_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',22);
INSERT INTO sqlite_sequence VALUES('django_admin_log',22);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "new_post_author_id_700ba6a3" ON "new_post" ("author_id");
CREATE INDEX "new_project_owner_id_f75bd8e9" ON "new_project" ("owner_id");
PRAGMA writable_schema=OFF;
COMMIT;
